* {
  box-sizing: border-box;
  overflow: scroll;
}
html {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(198,148,231);
  background: linear-gradient(114deg, rgba(198,148,231,1) 0%, rgba(223,129,129,1) 50%, rgba(246,216,174,1) 100%);
  color: black;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  height: 210vh;
  margin: 10px;
  overflow: hidden;
  width: 100vw;
}
p {
  background-color: transparent;
  font-size: 25px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bolder;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.content {
  font-size: 30px;
  margin-right: 5px;
}
.box {
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
  width: 23vw;
  height: 70vh;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: transparent;
}
.row {
  padding: 10px;
  font-size: 20px;
  width: 25vw;
  height: 35vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100px;
} 
.row-1{
  background-color: lavenderblush;
  color: hotpink;
}
.row-2{
  background-color: lavenderblush;
  color: hotpink;
}
.row-3{
  background-color: lavender;
  color: plum;
}
.row-4{
  background-color: lavender;
  color: plum;
}
.row-5{
  background-color: #FADFFF;
  color: violet;
}
.row-6{
  background-color: #FADFFF;
  color: violet;
}
.row-7{
  background-color: #FFDFE5;
  color: palevioletred;
}
.row-8{
  background-color: #FFDFE5;
  color: palevioletred;
  text-align: center;
}
.images{
  margin-top: 10px;
}